* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    border: 0;
}

#container1 {
    display: flex;
    background-color:#1F2937;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding: 0px 380px;
    box-sizing: border-box;

}

#logo {
    color: #F9FAF8;
    font-size: 24px;
}

#hlink {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    align-content: center;
    align-items: center;
}

#hlink p {
    padding-left: 10px;
}

#hero {
    display: flex;
    align-items: center;
    padding: 0px 380px;
}

#htext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 10px;
}
#subtext {
    font-size: 18px;
    color: #E5E7EB;
}
#button {
    color: #F9FAF8;
    box-sizing: border-box;
    background-color: #3882F6;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    height: 35px;
    width: 115px;
}

#imge {
    padding: 150px;
    background-color: ghostwhite;
}

#info {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-top: 10px;
}

#container2 {
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    width: 800px;
    height: 150px;
    gap: 10px 10px;


}

#item {
    width: 150px;
    height: 150px;
}

#container3 {
    box-sizing: border-box;
    text-align: center;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 40px 0px;
}

#quote {
    font-size: 36px;
    font-weight: 300px;
    text-align: left;
    width: 580px;
    height: 190px;
    margin: auto;
}

#author {
    text-align: center;
    font-size: 28px;
    padding-left: 420px;
}
